/* You can add global styles to this file, and also import other style files */
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

@import "~primeng/resources/primeng.min.css";
@import "~primeng/resources/themes/omega/theme.css";
@import "~font-awesome/css/font-awesome.min.css";
 

.commandGridSpacer {
    padding-top: 10px;
    padding-bottom: 10px;        
}

button .commandBtn { 
    padding-right : 10px;
}

.ui-dialog.ui-widget .ui-dialog-titlebar {
     padding: 5px;
     padding-left: 10px;
}
.alert {
    padding: 5px !important; 
    margin-bottom: 0px !important; 
}
.table {display:block;    
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem; }
.row { display:block; padding : 5px;  }
.cell {display:inline-block; vertical-align:text-top;}
.c1 { width: 15%}
.c2 { width: 33%}
.c3 { width: 1%}
.c4 { width: 15%}
.c5 { width: 33%}
.c2345 { width: 80%}
.text-control { width: 99%}
.date-control { width: 99%}
.number-control { width: 99%}
.decimal-control { width: 99%} 
.select-control { width: 99%} 
.input-group  { width: 99%}
.form-group {
     margin-bottom: 0px !important;  
}  
select.form-control:not([size]):not([multiple]) {
    height: 34px !important;
} 
.numberCol {
    text-align: right;
}