
<div class="container"> 
  
  <form [formGroup]='personForm'>
    
    <div>
      <div class="form-group">
        <label for="username">Username</label>
        <input id="username" type="text" class="form-control" formControlName="username">         
        
        <div *ngIf="formErrors.username" class="alert alert-danger">
          {{ formErrors.username }}
        </div>
        
      </div>
      
      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" type="password" class="form-control" formControlName="password">         
        
        <div *ngIf="formErrors.password" class="alert alert-danger">
          {{ formErrors.password }}
        </div>           
      </div>    
      
      <button class="btn btn-primary commandBtn" (click)="login()"> Login </button>
                  
      
    </div>
    
  </form>
  
</div>


