<div>  
  <ul>    
    <li>
      <a routerLink="/employee" routerLinkActive="active"> Employee </a>
    </li>
    <li>
      <a routerLink="/user" routerLinkActive="active"> User </a>
    </li>
    <li>
      <a routerLink="/supplier" routerLinkActive="active"> Supplier </a>
    </li>
    <li>
      <a routerLink="/materialCategory" routerLinkActive="active"> Material Category </a>
    </li>
    <li>
      <a routerLink="/rawMaterial" routerLinkActive="active"> Raw Material </a>
    </li>
   

    
  </ul>
</div>


