<div class="container"> 
    
    <p-dialog header="Add User" [(visible)]="display" modal='true' [width]="500" [height]="300">
        
        <form [formGroup]='personForm'>
            
            <div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input id="username" type="text" class="form-control" formControlName="username">         
                    
                    <div *ngIf="formErrors.username" class="alert alert-danger">
                        {{ formErrors.username }}
                    </div>
                    
                </div>
                
                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" type="text" class="form-control" formControlName="password">         
                    
                    <div *ngIf="formErrors.password" class="alert alert-danger">
                        {{ formErrors.password }}
                    </div>          
                </div>  

                <div class="form-group">
                        &nbsp;
                </div>  

                <div class="form-group">

                    <p-button  icon="fa fa-fw fa-save"  [disabled]="!personForm.valid" (click)="save()" label="Save"> </p-button>
                    <p-button  icon="fa fa-fw fa-close" (click)="cancel()" label="Cancel"></p-button>

                </div>  

            </div>
            
            
            
            <p>Form value: {{ personForm.value | json }}</p>
            
        </form>
        
    </p-dialog>
    
</div>


<div class="container">       
    <p-button icon="fa fa-fw fa-plus" (click)="addForm()" label="Add"></p-button>
</div>

<div style="clear:both; height:10px"></div>

<div class="container"> 
    <ngx-datatable class="material striped" 
    [rows]="rows"
    [limit]="10"
    (select)="onSelect($event)"
    [selectionType]="'single'"
    [columns]="columns" [headerHeight]="50"  [rowHeight]="'auto'"
    [footerHeight]="50">
</ngx-datatable>
</div>

