 
<div class="container"> 
  <p-dialog header="{{formTitle}}" [(visible)]="display" [minWidth]="550" modal='true'>
  <form [formGroup]='personForm'>
    

    <div style="width:100%;padding:0px"> 
		<div class="panel panel-info"> 
			<div class="panel-body" style="padding:5px; padding-left:30px"> 

           <div class="form-group row">
					  <div class="cell" style="width:200px">
					   <label for="rmcatName">Material Category Name :</label>
					  </div> 
					  <div class="cell">   
              <input id="rmcatName" type="text" maxlength="50" class="form-control text-control" formControlName="rmcatName"> 
              
              <div *ngIf="formErrors.rmcatName" class="alert alert-danger">
                {{ formErrors.rmcatName }}
              </div>
					  </div>  
           </div> 

           <div class="form-group row">
					  <div class="cell" style="width:200px">
					   <label for="tariffCode">Tariff Code :</label>
					  </div> 
					  <div class="cell">   
              <input id="tariffCode" type="text" maxlength="50" class="form-control text-control" formControlName="tariffCode">         
              
              <div *ngIf="formErrors.tariffCode" class="alert alert-danger">
                {{ formErrors.tariffCode }}
              </div>
					  </div> 
           </div> 

			  </div>     
      </div>        
    </div>
    
     <div class="form-group row">
        <div class="cell c1"> 
        </div> 
        <div class="cell c2"> 
        </div>
        <div class="cell c3"> 
        </div> 
        <div class="cell c4"> 
        </div> 
        <div class="cell c5" style="text-align:right">	   

            <p-button icon="fa fa-fw fa-save" label="Save" [disabled]="!personForm.valid" (click)="save()"></p-button>   
            <p-button icon="fa fa-fw fa-close" label="Cancel"  (click)="cancel()"></p-button>   

        </div>
      </div>
   
  </form>
  
  </p-dialog>

</div>


<div class="container">       
	<p-button icon="fa fa-fw fa-plus" (onClick)="addForm()" icon="fa fa-fw fa-plus" label="Add"></p-button>  
</div>
<div style="clear:both; height:10px"></div>
 

<div class="container"> 
  
  <ngx-datatable class="material striped" 
  [rows]="rows"
  [limit]="10"
  [selectionType]="'single'"
  (select)="onSelect($event)"
  [columns]="columns" [headerHeight]="30"  [rowHeight]="'auto'"
  [footerHeight]="50">
 
	 <ngx-datatable-column  name="Id" prop="rmcatId" [width]="80" [resizeable]="false" [sortable]="true" [flexGrow]="1">
     <ng-template let-value="value" ngx-datatable-cell-template>
           {{value}}
        </ng-template>
		</ngx-datatable-column>
  
	 <ngx-datatable-column  name="Material Category Name" prop="rmcatName" [width]="600" [resizeable]="false" [sortable]="true" [flexGrow]="1">
     <ng-template let-value="value" ngx-datatable-cell-template>
           {{value}}
        </ng-template>
    </ngx-datatable-column>
  
	 <ngx-datatable-column  name="Tariff Code" prop="tariffCode" [width]="600" [resizeable]="false" [sortable]="true" [flexGrow]="1">
     <ng-template let-value="value" ngx-datatable-cell-template>
           {{value}}
        </ng-template>
    </ngx-datatable-column>

</ngx-datatable>

</div>
