
<div class="container"> 
    <h1>Supplier</h1>
    <p-dialog header="Add Employee" [(visible)]="display" modal='true'>
  <form [formGroup]='personForm'>
    
    <div>
      <div class="form-group">
        <label for="name">Supplier Name</label>
        <input id="name" type="text" class="form-control" formControlName="supplierName">         
        
        <div *ngIf="formErrors.supplierName" class="alert alert-danger">
          {{ formErrors.supplierName }}
        </div>     
      </div>        
    </div>
        
    <button class="btn btn-primary commandBtn" [disabled]="!personForm.valid" (click)="save()"> Save </button>
    <button class="btn btn-primary commandBtn" (click)="cancel()"> Cancel </button>

    <p>Form value: {{ personForm.value | json }}</p>
    
  </form>
  
  </p-dialog>

</div>

<div class="container">       
  <button class="btn btn-primary commandGridSpacer" (click)="addForm()"> Add </button>
  <button class="btn btn-primary commandGridSpacer" [disabled]="!itemSelected" (click)="edit()"> Edit </button>
</div>

<div class="container"> 
  
  <ngx-datatable class="material striped" 
  [loadingIndicator]="loadingIndicator"
  [rows]="rows"
  [limit]="10"
  [selectionType]="'single'"
  (select)="onSelect($event)"
  [columns]="columns" [headerHeight]="50"  [rowHeight]="'auto'"
  [footerHeight]="50">
</ngx-datatable>

</div>
